*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.gitignore
build/generated/assets/
build/generated/res/
build/generated/source/aidl/
build/generated/source/r/
build/generated/source/rs/
build/intermediates/assets/
build/intermediates/blame/
build/intermediates/bundles/debug/aidl/
build/intermediates/bundles/debug/assets/
build/intermediates/bundles/debug/jni/
build/intermediates/bundles/debug/libs/
build/intermediates/bundles/debug/res/
build/intermediates/bundles/release/aidl/
build/intermediates/bundles/release/assets/
build/intermediates/bundles/release/jni/
build/intermediates/bundles/release/libs/
build/intermediates/bundles/release/res/
build/intermediates/dependency-cache/
build/intermediates/jniLibs/
build/intermediates/lint/
build/intermediates/manifest/tmp/
build/intermediates/res/merged/
build/intermediates/rs/
build/intermediates/shaders/
build/intermediates/symbols/
build/intermediates/transforms/
build/tmp/
